{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input class="form-control" autofocus placeholder="stock symbol" name="symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus placeholder="no. of shares" name="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}